
.icons {
    font-size: 25px;
    margin-right: 40px;
    color: black;
}

.site-item:hover {
    color: green;
}

.site-item {
    position: relative;
    display: inline-block;
    margin: 0;
}

.header-item li {
    padding-right: 60px;
    font-size: 25px;
}

.text-center {
    text-align: center !important;
}


.header-logo img {
    max-width: 140px;
    height: 30px;
}

.header-logo {
    display: block;
    float: left; 
    margin-left: 70px;
}

.header-container {
    height: 78px;
    border-bottom: 2px solid;
}

.header-item {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.header-layout {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    background-color: white;
}

.hidden {
    display: none;
}

header {
    padding-top: 20px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

/* Responsive css */


@media (max-width: 1000px) {
    .header-container {
        width: 75%;
    }
    .header-navigation {
        display: none;
    }
    .header-logo {
        padding-right: 50px;
    }

}

@media (max-width: 670px) {
    .header-container {
        width: 25%
    }
    .header-navigation {
        display: none;
    }
    .header-icon {
        display: none;
    }
    .site-icon a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
}
